/* Common styles for all screen sizes */
body {
    background-color: aliceblue;
}

.container {
    background-color: white;
    padding: 0;
    margin: 10px auto;
}

header {
    display: flex;
    align-items: center;
    background-color: #672280;
    padding: 20px;
    margin-top: 10px;
    color: white;
}

header > img {
    height: 40px;
    width: auto; /* Allow the width to adjust automatically */
}

header > h3 {
    margin-left: 10px;
    margin-right: auto;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
    justify-content: center;
}

.form > input {
    height: 50px;
    width: 100%; /* Take up the full width of the container */
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: large;
    margin-bottom: 15px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin-top: 20px;
    height: 50px;
    width: 100%; /* Take up the full width of the container */
    background-color: #711F8D;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
}

.meme {
    position: relative;
}

.image {
    display: flex;
    justify-content: center;
}

.edit {
    border-radius: 3px;
    max-width: 100%;
    height: auto; /* Ensure the image scales with its container */
}

.memetext {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

/* Media queries for responsive design */
@media only screen and (min-width: 600px) {
    /* Adjust styles for screens wider than 600px */
    header {
        padding: 30px;
    }

    header > img {
        height: 50px;
    }
}

@media only screen and (min-width: 768px) {
    /* Adjust styles for screens wider than 768px */
    .form {
        flex-direction: row; /* Arrange items side by side */
    }

    .form > input {
        margin-right: 15px;
        width: auto; /* Allow input fields to take their natural width */
    }
}
